.btn-margin{
    margin:5px;
}
.fload-right{
    float: right;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
}
.view{
    padding-top: 70px;
}